@import './variables';

.message-container {
    color: #000;
    padding: 1.5em;
    margin: 2em;
    background-color: $secondary;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}